.Rproj.user
.Rhistory
.RData
packrat/lib*/
inst/doc
Simulations/
*.o
*.so
*.dll
*.RData
*.rdb
*.rdx
*.pdf
vignettes/model_misspecification_cache/html/__packages
vignettes/popsize_misspecification_cache/html/__packages
